<nav class="navbar navbar-inverse" style="background-color: #072a4c
; border-radius: 0%;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="" style="color: white;">Tech-Space</a>
      </div>
      <ul class="nav navbar-nav" style="color: black;">
        <li routerLinkActive="active current"><a routerLink="/jobs">Jobs</a></li>
        <li routerLinkActive="active current"><a routerLink="/profiles">Profiles</a></li>
        <li routerLinkActive="active current" style="right: -730px"><a routerLink="/addprofile">Add Profile</a></li>
        <li routerLinkActive="active current" style="right: -750px;"><a routerLink="/addjob">Add Job</a></li>
      </ul>
    </div>
  </nav>
    
  
  
  
  

